body {
  font-family: sans-serif;
	color: #555;
}

header {
	text-align: center;
	padding-top: 1em;
	padding-bottom: 1em;
}

header h1 {
	font-size: 4em;
	font-weight: 300;
	margin-top: 0;
	padding-top: 0;
}

header a:link,
header a:visited,
header a:hover,
header a:active {
  text-decoration: none;
  color: #333;
}

article {
	max-width: 80%;
	margin: 0 auto;
	line-height: 1.5;
}

h1 {
  font-size: 3em;
}

h1,
h2,
h3,
h4,
strong {
  color: #333;
}

code,
pre {
  background: #eee;
}

code {
  padding: 2px 4px;
  vertical-align: text-bottom;
}

pre {
  padding: 1em;
}